{% extends "base.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'blogs.css'%}"> {% endblock style %}
{% block title %}FAQS | Student Helper {% endblock title %}


{% block maincontent %}
<div>
    <h1>About Us</h1>
<p>
    Welcome to Student Helper! I'm Nayan, and I'm excited to introduce you to our platform. Together with my talented team of four, we are dedicated to creating a supportive and engaging environment for students, teachers, and experts to connect and collaborate. Our platform is designed to help you navigate your academic journey with ease and confidence, offering opportunities to engage in discussions, share resources, join study groups, and receive personalized guidance.
</p>
<p>
    Our goal is to empower students like you to reach your full potential. We are passionate about providing a space where everyone can thrive, learn, and grow together. By fostering meaningful connections and offering valuable resources, we aim to make your educational experience more productive and enjoyable. Join us on this journey, and let's work together to achieve academic success!    
</p>
</div>
{% endblock maincontent %}


