{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'blogs.css'%}"> 
<style>
h1{
        background: linear-gradient(to right, #6b61ff, #4fb5ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
</style>
{% endblock style %}
{% block title %}FAQS | Student Helper {% endblock title %}


{% block maincontent %}
<div>
<h1>Contact us</h1>
<p>Welcome to Student Helper! We are a dedicated team of educators, technologists, and innovators passionate about
    transforming the learning experience for students worldwide. Our platform is designed to facilitate collaboration
    and communication among students, teachers, and experts, making it easier for everyone to connect, share knowledge,
    and grow together.</p>

<p>Our team is committed to creating a vibrant and inclusive community where students can find support and resources for
    their academic journey. Whether you're seeking help with assignments, looking to join a study group, or wanting
    personalized guidance from experts, Student Helper is here to assist you every step of the way. We believe in the
    power of learning and strive to empower students to reach their full potential.</p>

<p>Join us on this exciting journey as we work together to create a supportive environment that encourages curiosity,
    creativity, and success. Together, let's unlock new opportunities and make learning an enriching experience for all!
</p>
</div>
{% endblock maincontent %}