{% extends "base.html" %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'blogs.css'%}"> {% endblock style %}
{% block title %}FAQS | Student Helper {% endblock title %}


{% block maincontent %}
<div>
<h1>FAQS | Student Helper</h1>
<ol>
<li>What is Student Helper?</li>
Student Helper is a platform designed to facilitate collaboration and communication among students, teachers, and experts. It provides a space for discussions, resource sharing, study groups, and personalized guidance.
<li>How do I create an account?</li>
Creating an account is simple! Click on the "Sign Up" button on the homepage, and fill out the required information to get started.

<li>How can I ask a question?</li>
To ask a question, go to the Q&A section and click on "Ask a Question." Enter your question and any relevant details, then post it for others to see and respond.

<li>How do I join a study group?</li>
You can join a study group by browsing the available groups in the "Study Groups" section and requesting to join a group that matches your interests and subjects.

<li>Can I share resources with others?</li>
Yes! You can share resources such as notes, videos, and links with other users by uploading them in the "Resources" section or attaching them to discussions.

<li>How can I schedule a session with an expert?</li>
To schedule a session with an expert, visit the "Expert Consultations" section and choose an expert based on your needs. You can then schedule a session at a convenient time.

<li>What should I do if I encounter inappropriate content?</li>
If you encounter inappropriate content, please report it using the "Report" button located near the content. Our moderation team will review your report and take appropriate action.

<li>How do I manage my notifications?</li>
You can manage your notifications in your account settings. Choose which types of notifications you want to receive and how you want to receive them.

<li>How do I update my profile?</li>
To update your profile, go to your account settings and select "Edit Profile." You can change your profile picture, bio, academic interests, and other personal information.

<li>Is my data secure on Student Helper?</li>
Yes, we take data privacy and security seriously. Your data is stored securely, and we comply with all applicable data protection regulations to safeguard your information.

</ol>
</div>
{% endblock maincontent %}


