{% extends "base.html" %}
{% load static %}
{% block title %}Student Helper{% endblock title %}
{% block maincontent %}
    <main class="maincontainer">
        <span class="maincenter">Student Helper</span>
        <p class="introtext">"Welcome to Student Helper! Your one-stop platform for all academic needs. Engage with fellow students, teachers, and experts to discuss, solve problems, and share resources. Join study groups and receive personalized guidance to enhance your learning journey. Dive into our vibrant community today and unlock your full potential!"</p>
    </main>
    <div class="bggradientlight">
        <span class="centertext">Explore</span>
        <div class="gridcards ib_column">
            <div class="card"><h3>Transpara</h3><p><b>Your Trusted Educational Partner.</b></p><p>At Transpara, our mission is to assist students in their quest to elevate their vocabulary. </p><p><a href="https://nayan1234.pythonanywhere.com/" target="_blank">Click Here!</a></p></div>
            <div class="card"><h3>AnsToQ</h3><p>AnsToQ provides accessible knowledge, empowering individuals to expand their understanding.
                With a focus on accuracy and reliability, AnsToQ simplifies learning and discovery.
                </p><p>Our mission is to make knowledge accessible to all, one question at a time.</p><p><a href="https://anstoq.pythonanywhere.com/" target="_blank">Click Here!</a></p></div>
            <div class="card"><h3>Search Books!</h3><p>Search Books by keywords, and get brif information.</p><p><a href="/blogs/getbookdetails" role="button">Click here</a></p></div>
            <div class="card"><h3>Read Articals You like!</h3><p>Articles are a gateway to knowledge, They expand horizons, broaden views we hold. Through words and phrases, minds ignite, Enriching thoughts with wisdom and insight.</p><p><a href="/blogs/articalsread">Click here</a></p></div>
            <div class="card"><h3>Add Doubts</h3><p>Add your doubts here, Experts gives the solutions!</p><p>You can also guid to other!</p><p><a href="/interaction/addquestion">Click Here</a></p></div>
            <div class="card"><h3>Show Doubts and solution!</h3><p>Here is the doubts by students. You can try to solve him/her doubt.</p><p><a href="/interaction/showque">Click Here</a></p></div>
        </div>
    </div>
    <div class="bgdarkbox">
        <h2>Meet AI for a Chat!</h2>
        <div class="flex_row mw60">
            <img class="imgleft" src="{% static 'images/aiimage.jpeg' %}" alt="ai">
            <div id="divpadd">
                <h3 onclick="window.location.href='/chatai/letchat'">Click here</h3>
                <p>Introducing your study companion, the AI-powered chatbot! I am here to help you conquer your academic challenges and unlock your full learning potential. From clearing doubts and providing instant answers to offering personalized study plans and motivation, I’m your go-to resource for a seamless and successful learning journey. Let’s embark on this educational adventure together!</p>
            </div>
        </div>
    </div>
    <div class="lrbox">
        <h2>Enhance your skills</h2>
        <div class="flex_row">
            <img class="imgleft" src="{% static 'images/tm.png' %}" alt="Time Management">
            <div onclick="window.location.href='/blogs/time_management'">
                <h3 class="tfleft">Time Management for Student!</h3>
                <p class="tfleft">Time management is more than just a buzzword; it's a crucial skill that can transform your life. In today's fast-paced world, where demands on our time seem to multiply by the minute, mastering the art of time management is essential for success, both personally and professionally.</p>
            </div>
        </div>
        <div class="flex_row flex_reverse_phone">
            <div onclick="window.location.href='/blogs/criticalthinking'">
                <h3 class="tfright">Critical Thinking and Problem-Solving</h3>
                <p class="tfright">Critical thinking involves analyzing information, identifying patterns, and evaluating solutions. It requires the ability to reason logically, make inferences, and come to sound conclusions. Problem-solving entails identifying a problem, gathering relevant information, generating possible solutions, and selecting the most appropriate one.</p>
            </div>
            <img class="imgleft" src="{% static 'home/bulb.jpg' %}" alt="">
        </div>
        <div class="flex_row">
            <img class="imgleft" src="{% static 'home/communication.jpg' %}" alt="">
            <div onclick="window.location.href='/blogs/comminication'">
                <h3 class="tfleft">Communication and Interpersonal Skills</h3>
                <p class="tfleft">Communication skills encompass the ability to express thoughts and ideas clearly both verbally and in writing. Interpersonal skills involve interacting effectively with others, building relationships, and resolving conflicts. These skills are essential for building rapport, fostering collaboration, and achieving goals.</p>
            </div>
        </div>
        <div class="flex_row flex_reverse_phone">
            <div onclick="window.location.href='/blogs/Adaptability'">
                <h3 class="tfright">Adaptability and Resilience</h3>
                <p class="tfright">Adaptability refers to the ability to adjust to changing circumstances and embrace new challenges. Resilience is the capacity to bounce back from setbacks and continue striving towards goals. These traits enable individuals to navigate unexpected situations, learn from failures, and maintain a positive outlook in the face of adversity.</p>
            </div>
            <img class="imgleft" src="{% static 'home/flow.jpg' %}" alt="">
        </div>
    </div>
    {% endblock maincontent %}
