{% extends "base.html" %}
{% load static %}
{% block title %}Student Helper{% endblock title %}
{% block maincontent %}
    <main class="maincontainer">
        <span class="maincenter">Student Helper</span>
        <p class="introtext">"Welcome to Student Helper! Your one-stop platform for all academic needs. Engage with fellow students, teachers, and experts to discuss, solve problems, and share resources. Join study groups and receive personalized guidance to enhance your learning journey. Dive into our vibrant community today and unlock your full potential!"</p>
    </main>
    <div class="bggradientlight">
        <span class="centertext">Explore</span>
        <div class="gridcards ib_column">
            <div class="card"><h3>Transpara</h3><p><b>Your Trusted Educational Partner.</b></p><p>At Transpara, our mission is to assist students in their quest to elevate their vocabulary. </p><p><a href="https://nayan1234.pythonanywhere.com/" target="_blank">Click Here!</a></p></div>
            <div class="card"><h3>AnsToQ</h3><p>AnsToQ provides accessible knowledge, empowering individuals to expand their understanding.
                With a focus on accuracy and reliability, AnsToQ simplifies learning and discovery.
                </p><p>Our mission is to make knowledge accessible to all, one question at a time.</p><p><a href="https://anstoq.pythonanywhere.com/" target="_blank">Click Here!</a></p></div>
            <div class="card"><h3>Search Books!</h3><p>Search Books by keywords, and get brif information.</p><p><a href="/blogs/getbookdetails" role="button">Click here</a></p></div>
            <div class="card"><h3>Read Articals You like!</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae facilis odit eaque?</p><p><a href="/blogs/articalsread" role="button">Click here</a></p></div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolore dolores ad, sunt repellendus eius aliquid exercitationem, pariatur commodi, nisi quos aperiam temporibus.</div>
            <div class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dolore dolores ad, sunt repellendus eius aliquid exercitationem, pariatur commodi, nisi quos aperiam temporibus.</div>
        </div>
    </div>
    <div class="bgdarkbox">
        <h2>Meet AI for a Chat!</h2>
        <div class="flex_row mw60">
            <img class="imgleft" src="{% static 'home/i.jpeg' %}" alt="">
            <div id="divpadd">
                <h3>Click here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis reprehenderit ipsum vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt reprehenderit illo labore eligendi pariatur qui, sint a nostrum neque atque harum provident accusamus magnam! Rem esse porro similique et, molestiae accusantium facere repellat nesciunt.</p>
            </div>
        </div>
    </div>
    <div class="lrbox">
        <h2>Title</h2>
        <div class="flex_row">
            <img class="imgleft" src="{% static 'home/i.jpeg' %}" alt="">
            <div>
                <h3 class="tfleft">Title</h3>
                <p class="tfleft">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam deserunt facere perspiciatis corrupti? dcsd</p>
            </div>
        </div>
        <div class="flex_row flex_reverse_phone">
            <div>
                <h3 class="tfleft">Title</h3>
                <p class="tfleft">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam deserunt facere perspiciatis corrupti? dcsd</p>
            </div>
            <img class="imgleft" src="{% static 'home/i.jpeg' %}" alt="">
        </div>
        <div class="flex_row">
            <img class="imgleft" src="{% static 'home/i.jpeg' %}" alt="">
            <div>
                <h3 class="tfleft">Title</h3>
                <p class="tfleft">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam deserunt facere perspiciatis corrupti? dcsd</p>
            </div>
        </div>
        <div class="flex_row flex_reverse_phone">
            <div>
                <h3 class="tfleft ">Title</h3>
                <p class="tfleft">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam deserunt facere perspiciatis corrupti? dcsd</p>
            </div>
            <img class="imgleft" src="{% static 'home/i.jpeg' %}" alt="">
        </div>
    </div>
    {% endblock maincontent %}
