{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}index {% endblock title %}</title>
    {% block style %}
      
    {% endblock style %}
    <link rel="stylesheet" href="{% static 'home/style_index.css' %}">
    <link rel="shortcut icon" href="#">
    <script src="{% static 'home/nav.js' %}"></script>
</head>
<body>
    <nav class="flex_row navbar">
        <a href="/" style="text-decoration: none;"><h1 class="heading1">Student Helper</h1></a>
        <ul class="flex_row fordesk" id='ulnav'>
            <li><a href="/" class="{% if Home %}activenavbar{% endif %}">Home</a></li>
            <li><a href="/interaction/addquestion" class="{% if EduTalk_Corner %}activenavbar{% endif %}">EduTalk Corner</a></li>
            <li><a href="#" class="{% if Tips %}activenavbar{% endif %}">Tips</a></li>
            <li><a href="#" class="{% if Smart_Tools %}activenavbar{% endif %}">Smart Tools</a></li>
            <li><a href="/blogs/motivation" class="{% if Motivation %}activenavbar{% endif %}">Motivation</a></li>
            <li><a href="/blogs/faqs" class="{% if FAQs %}activenavbar{% endif %}">FAQs</a></li>
            <li><a href="/blogs/about_us" class="{% if About_us %}activenavbar{% endif %}">About us</a></li>
            <li><a href="/blogs/contact_us" class="{% if Contact_us %}activenavbar{% endif %}">Contact us</a></li>
        </ul>
        <span class="flex_row fordesk" id="btn">
            {% if request.user.is_authenticated %}
            <button class="btn_empty mxr1" onclick="window.location.href = '/account/myprofile'">Hello {{user.first_name}}</button>
            <button class="btn_fill" onclick="window.location.href = '/account/logout'">Sign out</button>
            {% else %}
            <button class="btn_empty mxr1" onclick="window.location.href = '/account/login'">Sign in</button>
            <button class="btn_fill" onclick="window.location.href = '/account/registration'">Sign up</button>
            {% endif %}
        </span>
        <a class="okphone" onclick="navclick()"> 
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    </nav>
{% block maincontent %}
   
{% endblock maincontent %}
    <footer class="footer">
        <small>&copy; Copyright 2024, Student Helper</small>
    </footer>
</body>
</html>