{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    #mainelement {
        min-height: calc(100vh - 8.1rem);
    }
    li{
        margin-left: 20px;
    }
    h1 {
        background: linear-gradient(to right, #6b61ff, #4fb5ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        margin-bottom: 1rem;
        font-size: x-large;
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }

    input {
        /* max-width: 15cm; */
        padding: 0.8rem;
        margin-top: 5px;
        margin-bottom: 5px;
        /* width: 10cm; */
        border: #6b61ff 2px solid;
        /* border-radius: 5px; */
    }

    #userchatmessage {
        width: calc(100% - 100px);
        border-radius: 5px 0 0 5px;
    }

    #submitbtn {
        width: 100px;
        background-color: #6b61ff;
        color: white;
        border-radius: 0px 5px 5px 0px;
    }

    .center {
        text-align: center;
        padding: 1rem;
    }

    .messages {
        display: block;
        background-color: rgb(224, 255, 230);
        color: rgb(0, 140, 40);
        padding: 2px;
        border-radius: 5px;
    }

    #chatsection {
        max-width: 15cm;
        margin-left: auto;
        margin-right: auto;
    }

    #messagebox {
        padding: 5px;
        border: #6b61ff 2px solid;
        border-radius: 5px;
        min-height: 5cm;
    }

    #inputnset {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-between;
    }

    .ai_msg {
        display: block;
        margin-right: auto;
        padding: 8px;
        /* width: 80%; */
        width: fit-content;
        max-width: 80%;
        border-radius: 2px 1rem 1rem 1rem;
        background-color: #6b61ff;
        color: #eeedff;
        margin-bottom: 6px;
    }

    .my_msg {
        margin-left: auto;
        padding: 8px;
        display: block;
        /* width: 80%; */
        width: fit-content;
        max-width: 80%;
        border-radius: 1rem 2px 1rem 1rem;
        background-color: #eeedff;
        color: #6b61ff;
        margin-bottom: 6px;
    }

    .ai_msg  a:link {
        color: white;
    }
</style>
{% endblock style %}
{% block title %}Chat AI | Student Helper{% endblock title %}
{% block maincontent %}

<div id="mainelement">
    {% if request.user.is_authenticated %}
    <h1>Chat With AI</h1>
    {% if messages %}
    <span class="messages">
        {% for message in messages %}
        <span class="center">
            {{message}}
        </span>
        {% endfor %}
    </span>
    {% endif %}

    <section id="chatsection">
        <div id="messagebox">
        </div>
        <div id="inputnset">
            <input type="text" id="userchatmessage" name="userchatmessage" placeholder="enter message" required><br><br>
            <input type="button" value="Submit" id="submitbtn" onclick="sendmessage()">
        </div>
    </section>
    {% else %}
    <p style="font-size: x-large; color: red; text-align: center; padding: 2rem;">Login required</p>
    {% endif %}
</div>
<script>
    document.getElementById("userchatmessage").focus()
    document.getElementById("userchatmessage").onkeyup = (e) => {
        if (e.key == "Enter") {
            document.getElementById("submitbtn").click()
        }
    }
    let ws = new WebSocket('ws://' + window.location.host + '/ws/as/chat_ai/')
    ws.onopen = (event) => {
        let ne = document.createElement("span")
        ne.innerHTML = "<b>You are connected to AI Chat!</b><br><p>Ask me anything...</p><small>Don't share your sensitive information.</small>"
        ne.setAttribute("class", "ai_msg")
        ne.setAttribute("style", "color:green; background:#CAFBE3;")
        document.getElementById("messagebox").appendChild(ne)
    }

    ws.onmessage = (event) => {
        let ele = document.getElementById("messagebox")
        ele.removeChild(ele.lastChild)
        let ne = document.createElement("span")
        ne.innerHTML = event.data
        ne.setAttribute("class", "ai_msg")
        ele.appendChild(ne)
    }

    ws.onclose = (event) => {
        let ne = document.createElement("span")
        ne.innerHTML = "<b>Connection Error!</b>"
        ne.setAttribute("class", "ai_msg")
        ne.setAttribute("style", "color:red; background:#FFCFCF;")
        document.getElementById("messagebox").appendChild(ne)
        document.getElementById("submitbtn").disabled = true;
        document.getElementById("userchatmessage").disabled = true;
        document.getElementById("submitbtn").style = "opacity:0.4;";
        document.getElementById("userchatmessage").style = "opacity:0.4;";
    }

    function sendmessage() {
        let element = document.getElementById("userchatmessage")
        let datavalue = element.value;
        if (datavalue != "") {
            ws.send(datavalue);
            let ne = document.createElement("span")
            ne.innerHTML = datavalue;
            ne.setAttribute("class", "my_msg")
            document.getElementById("messagebox").appendChild(ne)

            let ne1 = document.createElement("span")
            ne1.innerHTML = "typing...";
            ne1.setAttribute("class", "ai_msg")
            ne1.setAttribute("style", "color:green; background-color: white; border:1px;")
            document.getElementById("messagebox").appendChild(ne1)
        }
        element.value = "";
    }
</script>
{% endblock maincontent %}